<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingRandomAccessFile name="SAVE-TO-FILE" fileName="/home/ubuntu/mmg/logs/auth/log/log.log"
               filePattern="/home/ubuntu/mmg/logs/auth/log/log-%d{MM-dd-yyyy}-%i.log.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile>

        <Async name="Async">
			<!-- reference to other appenders -->
            <AppenderRef ref="SAVE-TO-FILE"/>
        </Async>

    </Appenders>
    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
        <Logger name="com.atpl.mmg" level="debug" additivity="true">
            <AppenderRef ref="Async"/>
			 <AppenderRef ref="STDOUT"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="Async"/>
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>